BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
IndentCaseLabels: false
PointerAlignment: Right
SortIncludes: false