[submodule "lib/freertos_kernel"]
	path = lib/freertos_kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "lib/Unity"]
	path = lib/Unity
	url = https://github.com/ThrowTheSwitch/Unity
